@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,300;1,400&display=swap');

:root{
    --black: rgb(10, 9, 8);
    --dark-slate-blue: rgb(34, 51, 59);
    --light-beige: rgb(234, 224, 213);
    --light-brown: rgb(198, 172, 143);
    --dark-coffee: rgb(94, 80, 63);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    /* font-size:  62.5%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* navbar style start */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-slate-blue);
    padding: 1.7rem 3rem;
    height: 8rem;
    box-shadow: var(--box-shadow);
    z-index: 10000;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}
header .navbar a{
    font-size: 1.5rem;
    color: var(--light-beige);
    padding: .5rem 7%;
    border: .1rem solid transparent; 
    padding: .5rem 1rem; 

}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    border: .1rem solid rgba(198, 172, 143, .2);
}

 /* slider style start */
 .home{
    padding-top: 8rem;
 }

.home .home-slider .slide{
display: flex;
justify-content: flex-start;
align-items: center;
height: 100vh;
}
.home .home-slider .slide1{
    background: url(images/simpleCup.jpg);
}

.home .home-slider .slide2{
    background: url(images/esperso.jpg);
}

.home .home-slider .slide3{
    background: url(images/nathan-dumlao-6VhPY27jdps-unsplash.jpg);
}

.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3{
    background-size: cover;
    background-repeat: no-repeat;
}
.home .home-slider .slide .content{
    /* text-align: center; */
    padding-left: 9rem;
}
.home .home-slider .slide .content h3{
    color: #fff;
    font-size: 5rem;
}
.home .home-slider .slide .content h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
}
.home .home-slider .slide .content p{
    color: var(--light-brown);
    font-size: 1.9rem;
    padding: 2rem 0;
}
/* button style start */
.order-btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.order-btn:hover {
  background-color: #fff;
}

.order-btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
/* button style end */

.swiper-pagination-bullet{
    background: #422800!important;
}

/* slider style end */

/* menu style start */
.menu {
    background-image: url(images/coffeeSeeds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .heading{
    padding-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--light-brown);
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8),
     -3px 0px 7px rgba(81,67,21,0.8),
      0px 4px 7px rgba(81,67,21,0.8);
}

.menu .main-menu{
    background-color: var(--light-brown);
    margin: 4rem;
    padding: 4rem;
    border-radius: 4px;
}

.menu-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu-item h3{
    font-size: 1.5rem;
    font-weight: 400;
    padding: .5rem;
    letter-spacing: 1px;
}
.menu-item p{
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .5rem;
}
/* menu style end */

/* contact style start */
.contact{
    background-color: var(--light-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.contact .info{
    display: grid;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: .8;
}
.contact .map iframe{
    padding: 3rem;
    border-radius: 3.5rem;
}

.telephone{
    color: #422800;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
}
/* contact style end */